.details{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(236, 232, 232);
}
.details p{
   text-align: center;
}
.details .box{
    max-width: 500px;
    min-width: 290px;
    margin: 100px;
    margin-right: 10%;
    text-align: left;
}
.box .row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    background-color: red;
}
.col2
{
    margin-right: 10%;
}
